data/Silo/adelaide.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/daly.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/dry.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/howard.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/sturt.txt filter=lfs diff=lfs merge=lfs -text
data/MaunaLoa/weekly_in_situ_co2_mlo.csv filter=lfs diff=lfs merge=lfs -text
data/VOM_input/AdelaideRiver/dailyweather.prn filter=lfs diff=lfs merge=lfs -text
data/VOM_input/DalyUncleared/dailyweather.prn filter=lfs diff=lfs merge=lfs -text
data/VOM_input/DryRiver/dailyweather.prn filter=lfs diff=lfs merge=lfs -text
data/VOM_input/HowardSprings/dailyweather.prn filter=lfs diff=lfs merge=lfs -text
data/VOM_input/SturtPlains/dailyweather.prn filter=lfs diff=lfs merge=lfs -text
src/VOM/** filter=lfs diff=lfs merge=lfs -text
data/VOM_output/AdelaideRiver/freedrainage_cpcff1.2/sce_lastloop.txt filter=lfs diff=lfs merge=lfs -text
data/VOM_output/AdelaideRiver/freedrainage_cpcff1.2/sce_status.txt filter=lfs diff=lfs merge=lfs -text
data/VOM_output/AdelaideRiver/freedrainage_cpcff1.2/sce_out.txt filter=lfs diff=lfs merge=lfs -text
data/VOM_output/AdelaideRiver/freedrainage_cpcff1.2/sce_lastbest.txt filter=lfs diff=lfs merge=lfs -text
data/VOM_output/AdelaideRiver/freedrainage_cpcff1.2/sce_bestpars.txt filter=lfs diff=lfs merge=lfs -text
data/VOM_output/AdelaideRiver/freedrainage_cpcff1.2/sce_progress.txt filter=lfs diff=lfs merge=lfs -text
work/AdelaideRiver/freedrainage_cpcff1.2/best/vom_namelist filter=lfs diff=lfs merge=lfs -text
data/VOM_output/AdelaideRiver/freedrainage_cpcff1.2/bestruns/** filter=lfs diff=lfs merge=lfs -text
data/DINGO/Ea_adelaide.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/Ea_daly.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/Ea_dry.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/Ea_howard.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/Ea_sturt.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/GPPdaily_adelaide.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/GPPdaily_daly.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/GPPdaily_dry.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/GPPdaily_howard.txt filter=lfs diff=lfs merge=lfs -text
data/DINGO/GPPdaily_sturt.txt filter=lfs diff=lfs merge=lfs -text

