data/Silo/adelaide.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/daly.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/dry.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/howard.txt filter=lfs diff=lfs merge=lfs -text
data/Silo/sturt.txt filter=lfs diff=lfs merge=lfs -text
